# Flutter build files
build/
.dart_tool/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Firebase (IMPORTANT 🔐)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Logs
*.log

# IDE files
.vscode/
.idea/

# Mac files
.DS_Store